[DEFAULT]
ConnectionType=initiator
ReconnectInterval=120
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
#SSLProtocol = +TLSv1_2 -SSLv2
ValidateUserDefinedFields=N
ResetOnLogout=Y
ResetOnLogon=Y
HeartBtInt=30
BeginString=FIX.4.4
DataDictionary=FIX44-CSERVER.xml

# <A> Logon - setting
SenderCompID=1234567890
TargetCompID=CSERVER
username=username
Password=password

# OPTION setting ----------
# SYMBOL  : 取引対象通貨名（cTrader 取り扱い通貨を指定）
# HISTORY : 保持するマーケット情報履歴数
# HISTSEC : 履歴の開始-終了秒差が指定値以下なら新規注文実行（閑散とした市場には参入しない）
# SPREAD  : 履歴の平均SPREADが指定値以下なら新規注文実行（荒れた市場には参入しない）
SYMBOL=USDJPY
HISTORY=10
HISTSEC=5
SPREAD=3

[SESSION]
SenderSubID=QUOTE
TargetSubID=QUOTE
SessionQualifier=QUOTE
SocketConnectHost=cTradeHost
SocketConnectPort=5211

[SESSION]
SenderSubID=TRADE
TargetSubID=TRADE
SessionQualifier=TRADE
SocketConnectHost=cTradeHost
SocketConnectPort=5212
