[DEFAULT]
ConnectionType=initiator
ReconnectInterval=120
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
SSLProtocol = +TLSv1_2 -SSLv2
ValidateUserDefinedFields=N
ResetOnLogout=Y
ResetOnLogon=Y
HeartBtInt=30
BeginString=FIX.4.4
DataDictionary=FIX44-CSERVER.xml

# <A> Logon - setting
SenderCompID=spot.1234567
TargetCompID=CSERVER
Username=1234567
Password=password

# OPTION setting
SYMBOL=USD/JPY
SIZE=100000
RANGE=50
STOP=50
MAXSEC=30
SPREAD=3

[SESSION]
SenderSubID=QUOTE
TargetSubID=QUOTE
SessionQualifier=QUOTE
SocketConnectHost=demo.ctrader.com
SocketConnectPort=1111

[SESSION]
SenderSubID=TRADE
TargetSubID=TRADE
SessionQualifier=TRADE
SocketConnectHost=demo.ctrader.com
SocketConnectPort=2222
