[DEFAULT]
ConnectionType=initiator
ReconnectInterval=120
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
#SSLProtocol = +TLSv1_2 -SSLv2
ValidateUserDefinedFields=N
ResetOnLogout=Y
ResetOnLogon=Y
HeartBtInt=30
BeginString=FIX.4.4
DataDictionary=FIX44-CSERVER.xml

# <A> Logon - setting
SenderCompID=1234567890
TargetCompID=CSERVER
username=username
Password=password

# OPTION setting ----------
SYMBOL=JYPUSD                    # SYMBOL  : 取引対象通貨名（cTrader 取り扱い通貨を指定）
HISTORY=10

[SESSION]
SenderSubID=QUOTE
TargetSubID=QUOTE
SessionQualifier=QUOTE
SocketConnectHost=cTradeHost
SocketConnectPort=5211

[SESSION]
SenderSubID=TRADE
TargetSubID=TRADE
SessionQualifier=TRADE
SocketConnectHost=cTradeHost
SocketConnectPort=5212
